.list {
  display: flex;
  height: 134px;
  gap: 8px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  text-align: center;

  padding-bottom: 32px;
  padding-top: 24px;
}

.list::-webkit-scrollbar {
  height: 4px; /* Высота скроллбара */
}

.list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Цвет "ползунка" */
  border-radius: 4px; /* Закругление углов "ползунка" */
}

.list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Цвет фона трека */
  border-radius: 4px; /* Закругление углов трека */
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .list {
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
}