.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
}

.chartIcon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: transparent;
}

.paginationWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .paginationWrapper {
    gap: 20px;
  }

  .chartIcon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1440px) {
}
