.content {
  position: relative;
  margin: auto;
  /* max-width: 1440px; */
  /* padding: 40px; */
  padding: 40px 20px;
  outline: none;
  background-color: white;
  border-radius: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  background-color: rgba(47, 47, 47, 0.6);

  opacity: 0;
  transform: scale(1.5);
  transition: opacity var(--transition-delay) var(--transition),
    transform var(--transition-delay) var(--transition);
}

.overlay.afterOpen {
  opacity: 1;
  transform: scale(1);
}
.overlay.beforeClose {
  opacity: 0;
  transform: scale(1.5);
  transition: opacity var(--transition-delay) var(--transition),
    transform var(--transition-delay) var(--transition);
}

button.closeWaterModalButton {
  position: absolute;
  top: 20px;
  right: 16px;
}

@media (min-width: 375px) {
  .content {
    min-width: 343px;
    max-width: 344px;
  }

  .waterModalContent {
    width: 343px;
  }
}

@media (min-width: 768px) {
  .content {
    min-width: 516px;
    max-width: 648px;
    padding: 40px;
  }

  .waterModalContent {
    width: 518px;
  }

  button.closeWaterModalButton {
    right: 20px;
  }
}

@media (min-width: 1440px) {
  .content {
    min-width: 516px;
    max-width: 920px;
  }

  .waterModalContent {
    width: 518px;
  }
}
