.wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}

button.btn {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 18px;
  transition: transform var(--transition-delay) var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
}


button.btn:hover,
button.btn:focus {
  transform: scale(1.15);
}

button.btn:hover {
  background-color: transparent;
}

.span {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: var(--light-dark);
  text-align: center;
}

.arrow {
  stroke: var(--dark-blue);
  stroke-width: 1;
  font-size: 12px;
  transition: transform var(--transition-delay) var(--transition);
  fill: none;
  stroke: var(--light-dark);
  width: 18px;
  height: 18px;
}

.arrow:hover {
  transform: scale(1.15);
}

.pieIcon {
  stroke-opacity: 0.5;
}

.arrow.right {
  transform: scaleX(-1);
}

@media screen and (min-width: 375px) {
  .wrapper {
    gap: 12px;
  }
}

@media screen and (min-width: 768px) {
  .span {
    font-size: 16px;
    line-height: 24px;
  }
  .btn {
    width: 20px;
  }
}
@media screen and (min-width: 1440px) {
}