
.section_WaterMainInfo_wrapper{
   border-radius: 30px;
      background-color: var(--basic-green);
      background-image: url('../../../assets/pictures/TrackerPage/bottle_for_water_mobx1_min.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size:262px 335px;
      max-width: 343px;
      padding:24px 16px 32px 16px;

      @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
            background-image: url('../../../assets/pictures/TrackerPage/bottle_for_water_mobx2.png');
      
         }


      @media (width>=768px) {
            background-image: url('../../../assets/pictures/TrackerPage/bottle_for_water_tabx1.png');
            max-width: 704px;
            padding: 32px 32px 64px 32px;
            background-size: 374px 477px;

            @media (min-device-pixel-ratio: 2),
               (min-resolution: 192dpi),
               (min-resolution: 2dppx) {
                  background-image: url('../../../assets/pictures/TrackerPage/bottle_for_water_1tabx2.png');
               }
         }
      
         @media (width>=1440px) {
            background-image: url('../../../assets/pictures/TrackerPage/bottle_for_water_1x1desk.png');
            max-width: 672px;
            padding-bottom: 64px;
            background-size: 472px 604px;
            

            @media (min-device-pixel-ratio: 2),
               (min-resolution: 192dpi),
               (min-resolution: 2dppx) {
                  background-image: url('../../../assets/pictures/TrackerPage/bottle_for_water_x2desk.png');
            
               }
         }
  
}


