.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: calc((100% - (6 * 18px)) / 7);
}

button.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;

  width: 28px;
  height: 28px;
  padding: 0;
  margin-bottom: 4px;

  color: var(--dark);
  background-color: var(--white);
}

button.btn:hover,
button.btn:focus {
  background-color: var(--calendar-button-grey-backhround);
}

button.btn.active {
  color: var(--green);
  background-color: var(--dark);
}

@media (min-width: 768px) {
  .item {
    width: calc((100% - (7 * 48px)) / 8);
  }
  button.btn {
    width: 38px;
    height: 38px;
  }
}

.text {
  font-size: 12px;
  line-height: 187%;
  color: var(--input-text-inactive-color);
}
