.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 14px;
  border-radius: 50%;
  background-color: #e0e0e0;
  transition: background-color 0.3s;
  margin-bottom: 6px;
}
.procent {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: #2f2f2f;
}

.btn_item.selected {
  background-color: #4caf50;
  color: white;
}

.btn_item.completed {
  background-color: #ffffff;
}

.btn_item.notCompleted {
  background-color: #cccccc;
}

.active {
  color: #9be1a0;
  background-color: #323f47;
}

@media screen and (min-width: 768px) {
  .btn_item {
    width: 38px;
    height: 38px;
    margin-bottom: 4px;
  }
  .procent {
    font-size: 12px;
    line-height: 187%;
  }
}
