.btn {
  display: block;
  padding: 18px 40px;

  border: none;
  border-radius: 30px;

  outline: none;
  background-color: var(--basic-green);

  cursor: pointer;
  transition: border var(--transition-delay) var(--transition),
    background-color var(--transition-delay) var(--transition),
    color var(--transition-delay) var(--transition);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.btn:hover,
.btn:focus {
  border: none;
  background-color: var(--hover-green);
  color: var(--dark);
}

.btn:disabled {
  color: var(--input-border-inactive-color);
  background-color: var(--light-gray);
  border: 1px solid var(--input-border-inactive-color);
  cursor: not-allowed;
}
.isDisabled {
  color: var(--input-border-inactive-color);
  background-color: var(--light-gray);
  border: 1px solid var(--input-border-inactive-color);
  cursor: not-allowed;
}

.btn.isSelected {
  background-color: green;
}
