.sectionContainer {
  background-color: var(--light-gray);
  border-radius: 30px;
  padding-top: 24px;
  padding-bottom: 67px;
}

.container {
  padding: 0 16px
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 6%;
  color: var(--dark);
  margin-top: 74px;
}

.title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1%;
  color: var(--light-dark);
  margin-top: 16px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 32px;
  box-sizing: border-box;
}

.item {
  padding: 14px 19px;
  border-radius: 30px;
  max-height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpItem {
  background-color: var(--green);
}

.signInItem {
  background-color: none;
  border: 1px solid var(--light-dark);
}

.signUpItem:hover {
  background-color: var(--hover-green);
}

.signInItem:hover {
  border-color: var(--hover-green);
}

.signInItem:hover .signInLink {
  color: var(--hover-green);
}

.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--light-dark);
  line-height: 1.28;
  letter-spacing: -1%;
}

@media (min-width: 768px) {
  .sectionContainer {
    padding-top: 32px;
    padding-bottom: 50px;
  }

  .container {
    padding: 0 32px
  }

  .containerWithoutLogo {
    padding: 0 32px;
  }

  .title {
    font-size: 64px;
    line-height: 1.09;
  }

  .text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 50px;
  }

  .link {
    font-size: 16px;
    line-height: 1.5;
  }

  .item {
    padding: 18px 40px;
    max-height: 60px;
  }
}

@media (min-width: 1440px) {
  .sectionContainer {
    width: 672px;
  }

  .text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 132px;
  }

  .title {
    font-size: 80px;
    line-height: 0.95;
  }
}
