.signInPage {
  @media (min-width: 1440px) {
    display: flex;
    gap: 32px;
  }
}

.container {
  background-color: var(--light-gray);
  border-radius: 30px;
  padding: 24px 16px 216px 16px;

  @media (min-width: 768px) {
    padding: 32px 32px 281px 32px;
  }

  @media (min-width: 1440px) {
    width: 672px;
    height: 736px;
    padding: 32px 32px 169px 32px;
  }
}

.logo {
  display: block;
  margin-bottom: 172px;

  @media (min-width: 768px) {
    margin-bottom: 225px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 113px;
  }
}

.noAccountText {
  color: rgba(47, 47, 47, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.noAccountLink {
  color: var(--dark);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
}
