.container {
  background-color: var(--light-gray);
  border-radius: 30px;
  padding: 24px 16px;
  padding-bottom: 216px;
}

.noAccountContainer {
  margin-top: 16px;
}

.noAccountText {
  color: rgba(47, 47, 47, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  text-align: center;
}

.noAccountLink {
  color: var(--dark);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
}

@media (min-width: 768px) {
  .container {
    padding: 32px;
    padding-bottom: 281px;
  }

  .noAccountText {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-bottom: 169px;
  }
}
