.userBarContainer {
  display: inline-block;
  position: relative;
}

.user_bar_wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  border-radius: 30px;
  padding: 6px 12px;
  width: 100%;
  height: 50px;
  background-color: var(--basic-dark-blue);
  transition: transform var(--transition-delay) var(--transition);
  transition: color var(--transition-delay) var(--transition);
}

.user_bar_wrapper:hover,
.user_bar_wrapper:focus {
  transform: scale(1.1);
  background-color: var(--basic-dark-blue);
}

.user_bar_wrapper:hover .arrowIcon,
.user_bar_wrapper:focus .arrowIcon,
.user_bar_wrapper:hover .span,
.user_bar_wrapper:focus .span {
  color: var(--green);
}

.user_avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.arrowIcon {
  color: #fff;
  transition: color var(--transition-delay) var(--transition);
  
}

.span {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #fff;

  transition: color var(--transition-delay) var(--transition);
}

@media screen and (min-width: 768px) {
  .user_bar_wrapper {
    gap: 10px;
    width: 100%;
    height: 56px;
    background-color: var(--basic-dark-blue);
  }

  .span {
    font-size: 16px;
    line-height: 150%;
  }

  .user_avatar {
    width: 44px;
    height: 44px;
  }
}
