.homePageLogo {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: left;
  color: #323f47;
  text-decoration: none;
  height: 20px;

  transform: scale(1);
  transform-origin: 10px;
  transition: transform var(--transition-delay) var(--transition),
    color var(--transition-delay) var(--transition);

  @media (768px<=width) {
    font-size: 24px;
    line-height: 100%;
  }
}

.homePageLogo:hover {
  transform: scale(1.05);
  color: var(--hover-green);
}
