.chartContainer {
  margin-top: 47px;
}

.tooltipIcon {
  width: 53px;
  height: 39px;
  position: absolute;
  transform: translate(-50%, -100%);
  pointer-events: none;
}

.label {
  font-family: 'Poppins', sans-serif;
  fill: var(--basic-dark-blue);
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  position: absolute;
  transform: translate(7px, 18px);
}

@media screen and (min-width: 375px) {
  .chartContainer {
    margin-left: -25px;
  }
}
@media screen and (min-width: 768px) {
  .chartContainer {
    margin-top: 62px;
    padding-right: 23px;
  }

  .tooltipIcon {
    width: 80px;
    height: 48px;
  }

  .label {
    font-size: 12px;
    line-height: 187%;
    transform: translate(17px, 21px);
  }
}
@media screen and (min-width: 1440px) {
  .chartContainer {
    padding-right: 10px;
  }
}
