.wrapper {
  max-width: 375px;
  margin: 0 auto;
  padding: 16px;

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 32px;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
  }
}

/* .wrapper {
  margin: 0 auto;
  padding: 16px;
}

@media (min-width: 375px) {
  .wrapper {
    width: 343px;
    padding: 16px 0;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 704px;
    padding: 32px 0;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    width: 1376px;
  }
} */
