.wrapper {
  max-width: 375px;
  margin: 0 auto;
  padding: 16px;

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 32px;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    height: 100vh;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }
}
