.signUpPage {
  @media (min-width: 1440px) {
    display: flex;
    gap: 32px;
  }
}

.sectionContainer {
  background-color: var(--light-gray);
  border-radius: 30px;
  /* padding: 24px 16px 170px 16px; */
  /* padding: 0 16px; */
  padding-top: 24px;
  padding-bottom: 170px;

  @media (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 227px;
  }

  @media (min-width: 1440px) {
    width: 672px;
    height: 736px;
    padding-bottom: 100px;
  }
}

.signUpPartContainer {
  padding: 0 16px;

  @media (min-width: 768px) {
    padding: 0 32px;
  }
}

.logo {
  display: inline-block;
  margin-bottom: 126px;

  @media (min-width: 768px) {
    margin-bottom: 225px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 74px;
  }
}

.haveAnAccountText {
  color: rgba(47, 47, 47, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.haveAnAccountLink {
  color: var(--dark);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
}
