@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* @import 'normalize.css'; */

:root {
  /*
Переменные
*/
  --shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --basic-dark-blue: #323f47;
  --transition-delay: 250ms;
  --transition: cubic-bezier(0.14, 0.57, 0.97, 0.39);

  --white: #ffffff;
  --light-gray: #f0eff4;
  --green: #9be1a0;
  --hover-green: #87d28d;
  --light-dark: #323f47;
  --dark: #2f2f2f;
  --error-color: #ef5050;
  --text-grey-white: #2f2f2f99;
  --calendar-item-bcg: #323f4733;

  --input-border-inactive-color: rgba(47, 47, 47, 0.2);
  --input-border-activated-color: rgba(47, 47, 47, 0.6);
  --input-text-inactive-color: rgba(47, 47, 47, 0.6);

  --signin-btn-disabled-color: rgba(47, 47, 47, 0.2);

  --calendar-button-grey-backhround: rgba(50, 63, 71, 0.2);
}

html,
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

/*! Dark Mode */
body.dark_mode {
  filter: invert(1) hue-rotate(180deg);
  background-color: black;
}

body.dark_mode .no_invert {
  filter: invert(1) hue-rotate(180deg);
}

.switch-dark-mode-btn {
    background-color: transparent;
  border: none;
}
/*! ========= */



input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  /* Стили для автозаполненных полей */
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #000;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--light-gray) inset;
  box-shadow: 0 0 0px 1000px var(--light-gray) inset; 
}

input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--light-gray)inset; 
  box-shadow: 0 0 0px 1000px var(--light-gray) inset; 
} */
