.containerHomePage {
  outline: 1px solid red;
  outline-offset: -2px;

  max-width: 375px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 32px;
  }

  @media (min-width: 1440px) {
    flex-direction: row;
    max-width: 1440px;
    gap: 32px;
    /* height: 100vh; */
  }
}
